<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinFu.Delegates" version="1.0.0.32889" targetFramework="net45" />
  <package id="LinFu.DynamicProxy.OfficialRelease" version="1.0.5" targetFramework="net45" />
  <package id="LinFu.Finders" version="1.0.1" targetFramework="net45" />
</packages>